@tailwind base;
@tailwind components;
@tailwind utilities;

  .activee::before{
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 99px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: scale(1.1);
  background-color: rgba(59, 130, 246, 0.5);
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
  -webkit-transform: scale(0.0);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.5s cubic-bezier(0.88,-0.01, 0.51, 1.46);
  -webkit-transition: all 0.5s cubic-bezier(0.88,-0.01, 0.51, 1.46);
  -moz-transition: all 0.5s cubic-bezier(0.88,-0.01, 0.51, 1.46);
  -ms-transition: all 0.5s cubic-bezier(0.88,-0.01, 0.51, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.88,-0.01, 0.51, 1.46);
}
.activee:hover::before{
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 99px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: scale(1.1);
    background-color: rgba(59, 130, 246, 0.5);
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}